$card_blue_color : #0873c9;
$card_grey_color :#d9dbe0;

@mixin tooltip {
    &:hover{
        &::after{
            opacity: 1;
            transform: translateY(2em);
        }
    }

    &::after{
        content: attr(data-msg);
        position: absolute;
        text-align: center;
        background-color: $card_blue_color;
        color: #FFF;
        pointer-events: none;
        opacity: 0;
        transition: all .3s ease-in-out;
        min-width: 100%;
        width: fit-content;
        padding: 5px;
        right: 0;
        transform: translateY(0);
        box-sizing: border-box;
        box-shadow: 0 10px 10px rgba(0,0,0,.16);
        border-radius: 3px;
    }
}

@mixin card{
    .card{
        position: relative;
        border: thin solid #9598a0;
        border-radius: 5px;
        padding: 1em;
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr repeat(3, 1fr);
        gap: 5px;       
        box-shadow: 5px -5px 10px rgba(0,0,0,.05);
        align-items: center;
        height: 10em;
        transition: all .3s ease-in-out;

        &.base{
            background: linear-gradient(45deg, rgb(191, 193, 194), white, rgb(214, 217, 221) );
        }
        
        &:hover{
            box-shadow: 0 0 10px rgba(0,0,0,.2);
    
            .flag{
                transform: rotate(-15deg);
            }
        }
    
        .close{
            grid-column: 2/3;
            grid-row: 1/2;
            justify-self: end;
            transition: all .3s ease-in-out;
    
            &:hover{
                cursor: pointer;
                color: red;
            }
        }
    
        .flag{
            grid-column: 1/2;
            grid-row: 2/3;
            box-shadow: 0 -5px 10px rgba(0,0,0,.16);
            transition: all .3s ease-in-out;
        }
    
        .symbol{
            grid-column: 1/2;
            grid-row: 2/3;
            justify-self: end;
            margin-right: 1em;
        }
    
        .convert{
            position: relative;
            grid-column: 1/3;
            grid-row: 3/4;
            justify-self: end;
            font-size: 1em;
    
            @include tooltip;
        }
    
        .abbreviation{
            grid-column: 1/2;
            grid-row: 3/5;
            justify-self: start;
            border-radius: 50%;
            text-align: center;
            background-color: $card_blue_color;
            color: #FFF;
            width: 2em;
            height: 2em;
            display: grid;
            font-size: .8em;
            padding: 6px;
            place-content: center;
        }
    
        .textbox{
            grid-column: 2/3;
            grid-row: 2/3;
            line-height: 2em;
            width: 10em;
            border: thin solid $card_grey_color;
            text-align: center;
    
            &::placeholder{
                color: $card_grey_color;
                font-style: italic;
            }

            @include tooltip;
        }
    
        .name{
            grid-column: 1/3;
            grid-row: 4/5;
            justify-self: end;
            font-size: .8em;
            font-weight: bold;
            color: $card_blue_color;
        }
        
    }
}