.body {
  grid-area: body;
  position: relative;
  overflow-y: scroll;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 12em;
      grid-template-rows: 12em;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  padding: 1em;
  padding-top: 3em;
}

@media screen and (max-width: 1024px) {
  .body {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
