@import './mixins';

.body{
    grid-area: body;
    position: relative;
    overflow-y: scroll;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
    grid-auto-rows: 12em;
    transition: opacity .3s ease-in-out;
    padding: 1em;
    padding-top: 3em;

    @include card;
}